body {
  background-color: lightsteelblue;
}


#pie-list {
  display: flex;
  flex-flow: row wrap;
}

.pieCard {
  border: solid 2px steelblue;
  flex: 1;
  flex-basis: 30%;
  margin: 5px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;


}

.name {
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  background-color: darkred;
  color: whitesmoke;
  margin-bottom: 5px;
  padding: 10px 0px;
  margin: 5px;
  border-radius: 15px;
}

img {
  width: 200px;
}

.img {
  align-self: center;

}

.inner {
  padding: 5px;
}

.instructor {
  background-color: peru;
  margin: 5px;
  padding: 7px;
  color: whitesmoke;
  border-radius: 10px;
}
